---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"img"> & {
  name: string;
  logo: string;
  darkLogo?: string;
  website?: string;
  description?: string;
};

const { name, logo, darkLogo, website, description, ...props } = Astro.props;
---

{website ? (
  <a
    href={website}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center justify-center p-2"
    title={description ? `${name} - ${description}` : name}
  >
    {darkLogo ? (
      <>
        <img
          src={logo}
          alt={`${name} logo`}
          class="h-16 w-full object-contain dark:hidden"
          {...props}
        />
        <img
          src={darkLogo}
          alt={`${name} logo`}
          class="h-16 w-full object-contain hidden dark:block"
          {...props}
        />
      </>
    ) : (
      <img
        src={logo}
        alt={`${name} logo`}
        class="h-16 w-full object-contain"
        {...props}
      />
    )}
  </a>
) : (
  <div
    class="flex items-center justify-center p-2"
    title={description ? `${name} - ${description}` : name}
  >
    {darkLogo ? (
      <>
        <img
          src={logo}
          alt={`${name} logo`}
          class="h-16 w-full object-contain dark:hidden"
          {...props}
        />
        <img
          src={darkLogo}
          alt={`${name} logo`}
          class="h-16 w-full object-contain hidden dark:block"
          {...props}
        />
      </>
    ) : (
      <img
        src={logo}
        alt={`${name} logo`}
        class="h-16 w-full object-contain"
        {...props}
      />
    )}
  </div>
)}
